<h1>Hello!
  <small class="limegreen">and welcome to Julie's Messageboard!</small>
</h1>
<div class="spacer"></div>
<% if current_user %>
<div class="jumbotron">
  <p>Share your thoughts and dreams with the internet,
    <span class="limegreen"><%= current_user.email %></span>
  </p>
  <button class="btn btn-lg btn-success btn-words">
    <%= link_to "Write a new post!", new_post_path %>
  </button>
</div>
<% else %>
<h3>For existing users,
  <button type="button" class="btn btn-success btn-words">
    <%= link_to "Sign In", new_user_session_path %>
  </button>
</h3>
<h3>For new users,
  <button type="button" class="btn btn-success btn-words">
    <%= link_to "Sign Up", new_user_registration_path %>
  </button>
</h3>
<% end %>
